{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/blog/" class="navbar-brand">
            <h1 id="logo">Bloom</h1>
        </a>
        <div class="social-container">
            <div class="social-icon1">
                <a href="https://github.com/SamKlep/">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <div class="social-icon2">
                    <a href="mailto:samklepdev@gmail.com">
                        <i class="fab fa-google-plus-square fa-3x"></i>
                    </a>
                    <div class="social-icon3">
                        <a href="https://twitter.com/shiftyeyedone">
                            <i class="fab fa-twitter-square fa-3x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br /><br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div id="funk" class="row">
                    <div class="col-md-12">

                        <div id="sidebar">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                            </form>

                        </div>
                    </div>
                </div>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
</body>

</html>